@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Roboto&display=swap');
// font-family: 'Noticia Text', serif;
// font-family: 'Roboto', sans-serif;

html{
    font-size: 10px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

h1, h2{
    font-size: 3.8rem;
    font-family: 'Noticia Text', serif;
}